<!doctype html>
<html lang="{{ $.Site.LanguageCode | default "en-gb" }}" class="touch-manipulation">
<head>
    <!-- SERP <160 length -->
    <!-- https://testmysite.io -->
    <!-- Enable responsiveness on mobile devices-->
    <meta charset="utf-8">
    <meta http-equiv=x-ua-compatible content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, shrink-to-fit=no"><!-- maximum-scale=1.0, -->
    <meta name=apple-mobile-web-app-title content="{{ slicestr .Site.Title 0 11 }}&hellip;">
    <title>{{ .Site.Title }} | {{ .Site.Params.SiteDescription }}</title>
    <meta name="robots" content="noodp" /><!-- `index, follow, noodp` https://beginnersbook.com/2013/01/meta-robots-tag-noindex-nofollow-noarchive-noodp-noydir/ -->
    <!-- <meta name="description" content="{{/* .Description | default .Site.Params.SiteDescription */}}"> -->
    {{ if (isset .Params "description") }}
    <meta name="description" content="{{ .Params.description }} | {{ if (isset .Site.Params "description") }}{{ .Site.Params.Description }}{{ end }}" />{{ end }}
    <link rel="canonical" href="{{ .Permalink }}" />
    <link rel="shortcut icon" type="image/x-icon" href="favicon.png" />
    <link rel="apple-touch-icon" href="favicon.png">
    <link rel="icon" type="image/png" href="favicon.png">
    <!-- <link rel=manifest href=/site.webmanifest> -->
    <link rel=mask-icon href="{{ .Site.BaseURL }}img/circle-play.svg" color="black"><!-- https://developer.yoast.com/safari-pinned-tab-icon-mask-icon/ -->
    <meta name="msapplication-TileColor" content="#eee">
    <!-- <meta name="msapplication-TileImage" content="favicon.png"> -->
    <meta name=theme-color content="#eee">
    <!-- <link rel=alternate href=/index.xml type=application/rss+xml title={{ .Site.Title }}> -->
    <!-- <link rel=feed href=/index.xml type=application/rss+xml title={{ .Site.Title }}> -->
    
    <!-- Twitter: summary|photo|video, a *canonical* link -->
    {{ template "_internal/twitter_cards.html" . -}}
    <!--
    <meta name="twitter:url" content="{{ .Permalink }}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ .Site.Author.twitter }}" />
    <meta name="twitter:title" content="{{ .Site.Title }} | {{ .Site.Params.SiteDescription }}" />{{/* .Description */}}
    <meta name="twitter:creator" content="@{{ .Site.Author.twitter }}" />
    <meta name="twitter:description" content="{{ .Site.Params.Description }}" />{{/* .Description */}}
    <meta name="twitter:image" content="{{ .Site.Author.image }}" />{{/* .Site.Author.image | absURL */}}
    -->
    <!-- <meta name="twitter:image:src" content="{{ .Site.Author.image }}" />{{/* .Site.Author.image | absURL */}} -->
    <!-- Originally from: x -->
    {{ partial "seo.html" . -}}
    
    <meta name="homepage" content="{{ .Site.Author.homepage }}" />
    <meta name="biography" content="{{ .Site.Author.bio }}" />
    <meta name="keywords" content="{{ with .Keywords }}{{ delimit . ", " }}{{ else }}{{ .Site.Params.keywords }}{{ end }}" />
    <meta name="news_keywords" content="{{ with .Params.news_keywords }}{{ delimit . ", " }}{{ else }}{{ .Keywords }}{{ end }}" />
    <meta name="copyright" content="©{{ now.Format "2006"}}, {{ .Site.Params.copyright }}" /><!-- | markdownify -->

    

    <!-- Open Graph, Facebook needs: context, no branding! Optional `Locale`. -->
    <!--meta property="og:site_name" content="InstantWebapp" /-->
    <!-- Mandetory: `Type` website | article | blog = LIKE! (more: neilpatel.com/blog/open-graph-meta-tags/). -->
    <meta property="og:author" content="{{ .Site.Author.name }}" />
    <meta property="og:type" content="{{ if (isset .Params "like") }}{{ .Params.like }}{{else}}article{{ end }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Site.Title }} | {{ .Site.Params.SiteDescription }}" />{{ if (isset .Params "description") }}
    <meta property="og:description" content="{{ .Site.Params.Description }}" />{{/* .Params.description }} {{ if (isset .Site.Params "description") }}{{ .Site.Params.Description }}{{ end */}}{{ end }}
    <meta property="og:url" content="{{ .Permalink }}" />{{ if (isset .Params "LanguageCode") }}
    <meta property="og:locale" content="{{ .Params.LanguageCode }}" />{{ else}}
    <meta property="og:locale" content="{{ if .Params.LanguageCode }}{{ .Params.LanguageCode }}{{ else }}{{ $.Site.LanguageCode | default "en-gb" }}{{ end }}" />{{ end }}
    <meta property="og:image" content="{{ .Site.BaseURL }}favicon.png" />
    <meta property="og:image:secure_url" content="{{ .Site.BaseURL }}favicon.png" />


    

    <!-- Tachyon Shower -->
    <link rel="stylesheet" href="https://instantwebapp.netlify.com/css/tachyon.shower.css" />
    <link rel="stylesheet" href="{{ .Site.BaseURL }}js/flickity.min.css">

    <style>
      /*UNCSS*/

      /* external css: flickity.css */
      
   /* html, body{height:100%;width:100%;margin:0;padding:0;overflow:hidden;-webkit-backface-visibility:hidden;} */
      .carousel-cell{/*width: 100%;*/width:100vw;/*height: 100%;*/height:calc(100% - 1px);/*overflow-y:scroll;-webkit-overflow-scrolling:touch;padding-top:4.4rem;*/}

      .flickity-page-dots {
        bottom: 0;
        z-index: 999;
      }

      .button.is-selected {
        background: white; /* consider universal configurator: `var(--tyrian);` */
        opacity: 1;
      }

      article p {
        text-align: left;
      }

      article h4, article h5, article h6 {
        text-align: left;
      }

    </style>
</head>