<div class=tl itemscope itemtype="http://schema.org/Person" itemid="https://pablowoodward.com">
<ul class="list pa0">
	<li class=ml0><span itemprop="email">email: <a href="mailto:pablo@PabloWoodward.com?subject=Seen%20PabloWoodward.com&body=Hi%20Pablo,%0D%0A%20%20%20%20">Pablo Woodward</a></span>
</li>
  <li class=ml0><span itemprop="telephone">Mobile: <a href="tel:+44759330758407" content="+44759330758407">+44&nbsp;7593 307&nbsp;584&nbsp;07</a></span>
</li>
  <li class=ml0>
    <!--itemprop="contactOption"-->
    <span>WhatsApp: <a href="intent://send/44759330758407#Intent;scheme=smsto;package=com.whatsapp;action=android.intent.action.SENDTO;end">+44&nbsp;7593 307&nbsp;584&nbsp;07</a></span>
  </li>

  <li class=ml0>
    <!--itemprop="facebook"-->
    <span>Facebook: <a href="https://www.facebook.com/pablo.woodward">/pablo.woodward</a></span>
  </li>

  <li class=ml0>
    <span itemprop="url">Spotlight: <a href="https://www.spotlight.com/interactive/cv/7015-6725-9646">Pablo Woodward</a></span>
  </li>
  <!--<li class=ml0><span itemprop="url">Vimeo: <a href="https://vimeo.com/132351634">Reel, June 2015</a></span></li>-->

<!--
todo: sameAs fragment:
https://www.instagram.com/p/BBW6DIVsRkL/
-->
</ul>
</div>
